# Core ML Frameworks
torch>=2.1.0
torchvision>=0.16.0
torchmetrics>=1.3.0

# High-level Training Framework
pytorch-lightning>=2.2.0
lightning-utilities>=0.10.0  

# Data processing & augmentations
datasets>=2.19.0
pillow>=10.0.0
numpy>=1.26.0
pandas>=2.2.0

# === Config & Experiment Management ===
omegaconf>=2.3.0

# MLflow logging & experiment tracking
mlflow>=2.10.0

# Visualization / Debugging
tensorboard>=2.16.0
tqdm>=4.65.0

# Misc
scikit-learn>=1.3.0
matplotlib>=3.8.0
